<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.CentralizedTreatmentMethodMapper">
  <resultMap id="BaseResultMap" type="org.spring.springboot.domain.CentralizedTreatmentMethod">
    <id column="centrTreatmentMethodId" jdbcType="INTEGER" property="centrTreatmentMethodId"/>
    <result column="centrTreatmentMethodDesc" jdbcType="VARCHAR" property="centrTreatmentMethodDesc"/>
    <result column="visible" jdbcType="INTEGER" property="visible"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    centrTreatmentMethodId, centrTreatmentMethodDesc, visible
  </sql>
  <select id="selectByExample" parameterType="org.spring.springboot.domain.CentralizedTreatmentMethodExample"
          resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List"/>
    from centralizedtreatmentmethod
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from centralizedtreatmentmethod
    where centrTreatmentMethodId = #{centrTreatmentMethodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from centralizedtreatmentmethod
    where centrTreatmentMethodId = #{centrTreatmentMethodId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.spring.springboot.domain.CentralizedTreatmentMethodExample">
    delete from centralizedtreatmentmethod
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="org.spring.springboot.domain.CentralizedTreatmentMethod" useGeneratedKeys="true"
          keyProperty="centrTreatmentMethodId">
    insert into centralizedtreatmentmethod (centrTreatmentMethodId, centrTreatmentMethodDesc, 
      visible)
    values (#{centrTreatmentMethodId,jdbcType=INTEGER}, #{centrTreatmentMethodDesc,jdbcType=VARCHAR}, 
      #{visible,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.spring.springboot.domain.CentralizedTreatmentMethod"
          useGeneratedKeys="true"
          keyProperty="centrTreatmentMethodId">
    insert into centralizedtreatmentmethod
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="centrTreatmentMethodId != null">
        centrTreatmentMethodId,
      </if>
      <if test="centrTreatmentMethodDesc != null">
        centrTreatmentMethodDesc,
      </if>
      <if test="visible != null">
        visible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="centrTreatmentMethodId != null">
        #{centrTreatmentMethodId,jdbcType=INTEGER},
      </if>
      <if test="centrTreatmentMethodDesc != null">
        #{centrTreatmentMethodDesc,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        #{visible,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.spring.springboot.domain.CentralizedTreatmentMethodExample"
          resultType="java.lang.Long">
    select count(*) from centralizedtreatmentmethod
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update centralizedtreatmentmethod
    <set>
      <if test="record.centrTreatmentMethodId != null">
        centrTreatmentMethodId = #{record.centrTreatmentMethodId,jdbcType=INTEGER},
      </if>
      <if test="record.centrTreatmentMethodDesc != null">
        centrTreatmentMethodDesc = #{record.centrTreatmentMethodDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.visible != null">
        visible = #{record.visible,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update centralizedtreatmentmethod
    set centrTreatmentMethodId = #{record.centrTreatmentMethodId,jdbcType=INTEGER},
    centrTreatmentMethodDesc = #{record.centrTreatmentMethodDesc,jdbcType=VARCHAR},
    visible = #{record.visible,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.domain.CentralizedTreatmentMethod">
    update centralizedtreatmentmethod
    <set>
      <if test="centrTreatmentMethodDesc != null">
        centrTreatmentMethodDesc = #{centrTreatmentMethodDesc,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        visible = #{visible,jdbcType=INTEGER},
      </if>
    </set>
    where centrTreatmentMethodId = #{centrTreatmentMethodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.domain.CentralizedTreatmentMethod">
    update centralizedtreatmentmethod
    set centrTreatmentMethodDesc = #{centrTreatmentMethodDesc,jdbcType=VARCHAR},
      visible = #{visible,jdbcType=INTEGER}
    where centrTreatmentMethodId = #{centrTreatmentMethodId,jdbcType=INTEGER}
  </update>
</mapper>