<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.CountyDao">
  <resultMap id="BaseResultMap" type="org.spring.springboot.domain.County">
    <id column="countyId" jdbcType="INTEGER" property="countyId"/>
    <result column="prefectureId" jdbcType="INTEGER" property="prefectureId"/>
    <result column="countryName" jdbcType="VARCHAR" property="countryName"/>
    <result column="status" jdbcType="VARCHAR" property="status"/>
  </resultMap>
  <sql id="Base_Column_List">
    countyId, prefectureId, countryName, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from county
    where countyId = #{countyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from county
    where countyId = #{countyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.spring.springboot.domain.County">
    insert into county (countyId, prefectureId, countryName, 
      status)
    values (#{countyId,jdbcType=INTEGER}, #{prefectureId,jdbcType=INTEGER}, #{countryName,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.spring.springboot.domain.County">
    insert into county
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="countyId != null">
        countyId,
      </if>
      <if test="prefectureId != null">
        prefectureId,
      </if>
      <if test="countryName != null">
        countryName,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="countyId != null">
        #{countyId,jdbcType=INTEGER},
      </if>
      <if test="prefectureId != null">
        #{prefectureId,jdbcType=INTEGER},
      </if>
      <if test="countryName != null">
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.domain.County">
    update county
    <set>
      <if test="prefectureId != null">
        prefectureId = #{prefectureId,jdbcType=INTEGER},
      </if>
      <if test="countryName != null">
        countryName = #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where countyId = #{countyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.domain.County">
    update county
    set prefectureId = #{prefectureId,jdbcType=INTEGER},
      countryName = #{countryName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where countyId = #{countyId,jdbcType=INTEGER}
  </update>
  <select id="getCountyByPrefectureId" resultType="org.spring.springboot.domain.County">
    select *
    from county
    where prefectureid = #{prefectureId}
  </select>
</mapper>