<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.DiarrheaCauseMapper">
  <resultMap id="BaseResultMap" type="org.spring.springboot.domain.DiarrheaCause">
    <id column="DHcauseID" jdbcType="INTEGER" property="DHcauseID"/>
    <result column="DHDesc" jdbcType="VARCHAR" property="DHDesc"/>
    <result column="visible" jdbcType="INTEGER" property="visible"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DHcauseID, DHDesc, visible
  </sql>
  <select id="selectByExample" parameterType="org.spring.springboot.domain.DiarrheaCauseExample"
          resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List"/>
    from diarrheacause
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from diarrheacause
    where DHcauseID = #{DHcauseID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from diarrheacause
    where DHcauseID = #{DHcauseID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.spring.springboot.domain.DiarrheaCauseExample">
    delete from diarrheacause
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="org.spring.springboot.domain.DiarrheaCause" useGeneratedKeys="true"
          keyProperty="DHcauseID">
    insert into diarrheacause (DHcauseID, DHDesc, visible
      )
    values (#{DHcauseID,jdbcType=INTEGER}, #{DHDesc,jdbcType=VARCHAR}, #{visible,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.spring.springboot.domain.DiarrheaCause" useGeneratedKeys="true"
          keyProperty="DHcauseID">
    insert into diarrheacause
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="DHcauseID != null">
        DHcauseID,
      </if>
      <if test="DHDesc != null">
        DHDesc,
      </if>
      <if test="visible != null">
        visible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="DHcauseID != null">
        #{DHcauseID,jdbcType=INTEGER},
      </if>
      <if test="DHDesc != null">
        #{DHDesc,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        #{visible,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.spring.springboot.domain.DiarrheaCauseExample"
          resultType="java.lang.Long">
    select count(*) from diarrheacause
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update diarrheacause
    <set>
      <if test="record.DHcauseID != null">
        DHcauseID = #{record.DHcauseID,jdbcType=INTEGER},
      </if>
      <if test="record.DHDesc != null">
        DHDesc = #{record.DHDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.visible != null">
        visible = #{record.visible,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update diarrheacause
    set DHcauseID = #{record.DHcauseID,jdbcType=INTEGER},
    DHDesc = #{record.DHDesc,jdbcType=VARCHAR},
    visible = #{record.visible,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.domain.DiarrheaCause">
    update diarrheacause
    <set>
      <if test="DHDesc != null">
        DHDesc = #{DHDesc,jdbcType=VARCHAR},
      </if>
      <if test="visible != null">
        visible = #{visible,jdbcType=INTEGER},
      </if>
    </set>
    where DHcauseID = #{DHcauseID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.domain.DiarrheaCause">
    update diarrheacause
    set DHDesc = #{DHDesc,jdbcType=VARCHAR},
      visible = #{visible,jdbcType=INTEGER}
    where DHcauseID = #{DHcauseID,jdbcType=INTEGER}
  </update>
</mapper>