<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.ProvinceDao">
  <resultMap id="BaseResultMap" type="org.spring.springboot.domain.Province">
    <id column="provinceId" jdbcType="INTEGER" property="provinceId"/>
    <result column="provinceName" jdbcType="VARCHAR" property="provinceName"/>
    <result column="status" jdbcType="VARCHAR" property="status"/>
  </resultMap>
  <sql id="Base_Column_List">
    provinceId, provinceName, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from province
    where provinceId = #{provinceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from province
    where provinceId = #{provinceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.spring.springboot.domain.Province">
    insert into province (provinceId, provinceName, status
      )
    values (#{provinceId,jdbcType=INTEGER}, #{provinceName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.spring.springboot.domain.Province">
    insert into province
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        provinceId,
      </if>
      <if test="provinceName != null">
        provinceName,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null">
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.domain.Province">
    update province
    <set>
      <if test="provinceName != null">
        provinceName = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where provinceId = #{provinceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.domain.Province">
    update province
    set provinceName = #{provinceName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where provinceId = #{provinceId,jdbcType=INTEGER}
  </update>
  <select id="getAllProvince" resultType="org.spring.springboot.domain.Province">
    select *
    from province
  </select>
</mapper>