<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.ProvinceDao">
  <resultMap id="BaseResultMap" type="org.spring.springboot.domain.Province">
    <id column="provinceid" jdbcType="VARCHAR" property="provinceid" />
    <result column="provincename" jdbcType="VARCHAR" property="provincename" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.spring.springboot.domain.Province">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    provinceid, provincename
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from province
    where provinceid = #{provinceid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from province
    where provinceid = #{provinceid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.spring.springboot.domain.Province">
    insert into province (provinceid, provincename, description
      )
    values (#{provinceid,jdbcType=VARCHAR}, #{provincename,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.spring.springboot.domain.Province">
    insert into province
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="provinceid != null">
        provinceid,
      </if>
      <if test="provincename != null">
        provincename,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="provinceid != null">
        #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="provincename != null">
        #{provincename,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.domain.Province">
    update province
    <set>
      <if test="provincename != null">
        provincename = #{provincename,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where provinceid = #{provinceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.spring.springboot.domain.Province">
    update province
    set provincename = #{provincename,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where provinceid = #{provinceid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.domain.Province">
    update province
    set provincename = #{provincename,jdbcType=VARCHAR}
    where provinceid = #{provinceid,jdbcType=VARCHAR}
  </update>
</mapper>