<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.SampleDao">
  <resultMap id="BaseResultMap" type="org.spring.springboot.domain.Sample">
    <id column="baseid" jdbcType="INTEGER" property="baseid" />
    <result column="watertype" jdbcType="INTEGER" property="watertype" />
    <result column="locationid" jdbcType="INTEGER" property="locationid" />
    <result column="watersourcetype" jdbcType="INTEGER" property="watersourcetype" />
    <result column="teamname" jdbcType="VARCHAR" property="teamname" />
    <result column="samplingdate" jdbcType="DATE" property="samplingdate" />
    <result column="detectdate" jdbcType="DATE" property="detectdate" />
    <result column="cycleteamid" jdbcType="VARCHAR" property="cycleteamid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.spring.springboot.domain.SampleWithBLOBs">
    <result column="watersourcedetails" jdbcType="LONGVARCHAR" property="watersourcedetails" />
    <result column="locationname" jdbcType="LONGVARCHAR" property="locationname" />
    <result column="treatmentmethods" jdbcType="LONGVARCHAR" property="treatmentmethods" />
    <result column="watershortage" jdbcType="LONGVARCHAR" property="watershortage" />
    <result column="picture" jdbcType="LONGVARCHAR" property="picture" />
    <result column="generalcomments" jdbcType="LONGVARCHAR" property="generalcomments" />
    <result column="waterqdetermination" jdbcType="LONGVARCHAR" property="waterqdetermination" />
    <result column="probcomment" jdbcType="LONGVARCHAR" property="probcomment" />
  </resultMap>
  <sql id="Base_Column_List">
    baseid, watertype, locationid, watersourcetype, teamname, samplingdate, detectdate, 
    cycleteamid
  </sql>
  <sql id="Blob_Column_List">
    watersourcedetails, locationname, treatmentmethods, watershortage, picture, generalcomments, 
    waterqdetermination, probcomment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sample
    where baseid = #{baseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sample
    where baseid = #{baseid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.spring.springboot.domain.SampleWithBLOBs">
    insert into sample (baseid, watertype, locationid, 
      watersourcetype, teamname, samplingdate, 
      detectdate, cycleteamid, watersourcedetails, 
      locationname, treatmentmethods, 
      watershortage, picture, generalcomments, 
      waterqdetermination, probcomment
      )
    values (#{baseid,jdbcType=INTEGER}, #{watertype,jdbcType=INTEGER}, #{locationid,jdbcType=INTEGER}, 
      #{watersourcetype,jdbcType=INTEGER}, #{teamname,jdbcType=VARCHAR}, #{samplingdate,jdbcType=DATE}, 
      #{detectdate,jdbcType=DATE}, #{cycleteamid,jdbcType=VARCHAR}, #{watersourcedetails,jdbcType=LONGVARCHAR}, 
      #{locationname,jdbcType=LONGVARCHAR}, #{treatmentmethods,jdbcType=LONGVARCHAR}, 
      #{watershortage,jdbcType=LONGVARCHAR}, #{picture,jdbcType=LONGVARCHAR}, #{generalcomments,jdbcType=LONGVARCHAR}, 
      #{waterqdetermination,jdbcType=LONGVARCHAR}, #{probcomment,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.spring.springboot.domain.SampleWithBLOBs">
    insert into sample
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="baseid != null">
        baseid,
      </if>
      <if test="watertype != null">
        watertype,
      </if>
      <if test="locationid != null">
        locationid,
      </if>
      <if test="watersourcetype != null">
        watersourcetype,
      </if>
      <if test="teamname != null">
        teamname,
      </if>
      <if test="samplingdate != null">
        samplingdate,
      </if>
      <if test="detectdate != null">
        detectdate,
      </if>
      <if test="cycleteamid != null">
        cycleteamid,
      </if>
      <if test="watersourcedetails != null">
        watersourcedetails,
      </if>
      <if test="locationname != null">
        locationname,
      </if>
      <if test="treatmentmethods != null">
        treatmentmethods,
      </if>
      <if test="watershortage != null">
        watershortage,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="generalcomments != null">
        generalcomments,
      </if>
      <if test="waterqdetermination != null">
        waterqdetermination,
      </if>
      <if test="probcomment != null">
        probcomment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="baseid != null">
        #{baseid,jdbcType=INTEGER},
      </if>
      <if test="watertype != null">
        #{watertype,jdbcType=INTEGER},
      </if>
      <if test="locationid != null">
        #{locationid,jdbcType=INTEGER},
      </if>
      <if test="watersourcetype != null">
        #{watersourcetype,jdbcType=INTEGER},
      </if>
      <if test="teamname != null">
        #{teamname,jdbcType=VARCHAR},
      </if>
      <if test="samplingdate != null">
        #{samplingdate,jdbcType=DATE},
      </if>
      <if test="detectdate != null">
        #{detectdate,jdbcType=DATE},
      </if>
      <if test="cycleteamid != null">
        #{cycleteamid,jdbcType=VARCHAR},
      </if>
      <if test="watersourcedetails != null">
        #{watersourcedetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="locationname != null">
        #{locationname,jdbcType=LONGVARCHAR},
      </if>
      <if test="treatmentmethods != null">
        #{treatmentmethods,jdbcType=LONGVARCHAR},
      </if>
      <if test="watershortage != null">
        #{watershortage,jdbcType=LONGVARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=LONGVARCHAR},
      </if>
      <if test="generalcomments != null">
        #{generalcomments,jdbcType=LONGVARCHAR},
      </if>
      <if test="waterqdetermination != null">
        #{waterqdetermination,jdbcType=LONGVARCHAR},
      </if>
      <if test="probcomment != null">
        #{probcomment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.domain.SampleWithBLOBs">
    update sample
    <set>
      <if test="watertype != null">
        watertype = #{watertype,jdbcType=INTEGER},
      </if>
      <if test="locationid != null">
        locationid = #{locationid,jdbcType=INTEGER},
      </if>
      <if test="watersourcetype != null">
        watersourcetype = #{watersourcetype,jdbcType=INTEGER},
      </if>
      <if test="teamname != null">
        teamname = #{teamname,jdbcType=VARCHAR},
      </if>
      <if test="samplingdate != null">
        samplingdate = #{samplingdate,jdbcType=DATE},
      </if>
      <if test="detectdate != null">
        detectdate = #{detectdate,jdbcType=DATE},
      </if>
      <if test="cycleteamid != null">
        cycleteamid = #{cycleteamid,jdbcType=VARCHAR},
      </if>
      <if test="watersourcedetails != null">
        watersourcedetails = #{watersourcedetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="locationname != null">
        locationname = #{locationname,jdbcType=LONGVARCHAR},
      </if>
      <if test="treatmentmethods != null">
        treatmentmethods = #{treatmentmethods,jdbcType=LONGVARCHAR},
      </if>
      <if test="watershortage != null">
        watershortage = #{watershortage,jdbcType=LONGVARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=LONGVARCHAR},
      </if>
      <if test="generalcomments != null">
        generalcomments = #{generalcomments,jdbcType=LONGVARCHAR},
      </if>
      <if test="waterqdetermination != null">
        waterqdetermination = #{waterqdetermination,jdbcType=LONGVARCHAR},
      </if>
      <if test="probcomment != null">
        probcomment = #{probcomment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where baseid = #{baseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.spring.springboot.domain.SampleWithBLOBs">
    update sample
    set watertype = #{watertype,jdbcType=INTEGER},
      locationid = #{locationid,jdbcType=INTEGER},
      watersourcetype = #{watersourcetype,jdbcType=INTEGER},
      teamname = #{teamname,jdbcType=VARCHAR},
      samplingdate = #{samplingdate,jdbcType=DATE},
      detectdate = #{detectdate,jdbcType=DATE},
      cycleteamid = #{cycleteamid,jdbcType=VARCHAR},
      watersourcedetails = #{watersourcedetails,jdbcType=LONGVARCHAR},
      locationname = #{locationname,jdbcType=LONGVARCHAR},
      treatmentmethods = #{treatmentmethods,jdbcType=LONGVARCHAR},
      watershortage = #{watershortage,jdbcType=LONGVARCHAR},
      picture = #{picture,jdbcType=LONGVARCHAR},
      generalcomments = #{generalcomments,jdbcType=LONGVARCHAR},
      waterqdetermination = #{waterqdetermination,jdbcType=LONGVARCHAR},
      probcomment = #{probcomment,jdbcType=LONGVARCHAR}
    where baseid = #{baseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.domain.Sample">
    update sample
    set watertype = #{watertype,jdbcType=INTEGER},
      locationid = #{locationid,jdbcType=INTEGER},
      watersourcetype = #{watersourcetype,jdbcType=INTEGER},
      teamname = #{teamname,jdbcType=VARCHAR},
      samplingdate = #{samplingdate,jdbcType=DATE},
      detectdate = #{detectdate,jdbcType=DATE},
      cycleteamid = #{cycleteamid,jdbcType=VARCHAR}
    where baseid = #{baseid,jdbcType=INTEGER}
  </update>
  <select id="getSamplesByCycleTeamid" resultType="org.spring.springboot.domain.SampleWithBLOBs">
    select *
    from sample
    where cycleteamid = #{cycleTeamid}
  </select>
</mapper>