<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.TeamDao">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.Team">
        <result column="teamid" property="teamid" />
        <result column="teamname" property="teamname" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="detail" property="detail" />
    </resultMap>

    <parameterMap id="Team" type="org.spring.springboot.domain.Team"/>

    <sql id="Base_Column_List">
        teamid, teamname, email, password, detail
    </sql>
    <insert id="addTeam">
        INSERT INTO team
        (teamid, teamname, email, password, detail)
        VALUES
        (NULL , #{teamName}, #{email}, #{password}, #{detail});
    </insert>

    <select id="findByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from team
        where teamname = #{teamName}
    </select>
    <select id="login" resultType="org.spring.springboot.domain.Team">
        select
        <include refid="Base_Column_List" />
        from team
        where email = #{email}
    </select>
    <update id="updatePassword">
        UPDATE team
        SET password = #{password}
        where email = #{email}
    </update>

</mapper>
