<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.TestCycleDao">
  <resultMap id="BaseResultMap" type="org.spring.springboot.domain.TestCycle">
    <id column="testCycleId" jdbcType="INTEGER" property="testCycleId"/>
    <result column="testCycleName" jdbcType="VARCHAR" property="testCycleName"/>
    <result column="testCycleDescribe" jdbcType="VARCHAR" property="testCycleDescribe"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    testCycleId, testCycleName, testCycleDescribe
  </sql>
  <select id="selectByExample" parameterType="org.spring.springboot.domain.TestCycleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List"/>
    from testcycle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from testcycle
    where testCycleId = #{testCycleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from testcycle
    where testCycleId = #{testCycleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.spring.springboot.domain.TestCycleExample">
    delete from testcycle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="org.spring.springboot.domain.TestCycle">
    insert into testcycle (testCycleId, testCycleName, testCycleDescribe
      )
    values (#{testCycleId,jdbcType=INTEGER}, #{testCycleName,jdbcType=VARCHAR}, #{testCycleDescribe,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.spring.springboot.domain.TestCycle">
    insert into testcycle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testCycleId != null">
        testCycleId,
      </if>
      <if test="testCycleName != null">
        testCycleName,
      </if>
      <if test="testCycleDescribe != null">
        testCycleDescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testCycleId != null">
        #{testCycleId,jdbcType=INTEGER},
      </if>
      <if test="testCycleName != null">
        #{testCycleName,jdbcType=VARCHAR},
      </if>
      <if test="testCycleDescribe != null">
        #{testCycleDescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.spring.springboot.domain.TestCycleExample" resultType="java.lang.Long">
    select count(*) from testcycle
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update testcycle
    <set>
      <if test="record.testCycleId != null">
        testCycleId = #{record.testCycleId,jdbcType=INTEGER},
      </if>
      <if test="record.testCycleName != null">
        testCycleName = #{record.testCycleName,jdbcType=VARCHAR},
      </if>
      <if test="record.testCycleDescribe != null">
        testCycleDescribe = #{record.testCycleDescribe,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update testcycle
    set testCycleId = #{record.testCycleId,jdbcType=INTEGER},
    testCycleName = #{record.testCycleName,jdbcType=VARCHAR},
    testCycleDescribe = #{record.testCycleDescribe,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.domain.TestCycle">
    update testcycle
    <set>
      <if test="testCycleName != null">
        testCycleName = #{testCycleName,jdbcType=VARCHAR},
      </if>
      <if test="testCycleDescribe != null">
        testCycleDescribe = #{testCycleDescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where testCycleId = #{testCycleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.domain.TestCycle">
    update testcycle
    set testCycleName = #{testCycleName,jdbcType=VARCHAR},
      testCycleDescribe = #{testCycleDescribe,jdbcType=VARCHAR}
    where testCycleId = #{testCycleId,jdbcType=INTEGER}
  </update>
  <select id="findTestCycleByTeamId" resultType="org.spring.springboot.domain.TestCycle">
    select *
    from testcycle
    where teamid = #{teamid}
  </select>
  <select id="getAllTestCycle" resultType="org.spring.springboot.domain.TestCycle">
    select *
    from testcycle
  </select>
</mapper>