<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.TownshipDao">
  <resultMap id="BaseResultMap" type="org.spring.springboot.domain.Township">
    <id column="townshipId" jdbcType="INTEGER" property="townshipId"/>
    <result column="countryId" jdbcType="INTEGER" property="countryId"/>
    <result column="townName" jdbcType="VARCHAR" property="townName"/>
    <result column="status" jdbcType="INTEGER" property="status"/>
  </resultMap>
  <sql id="Base_Column_List">
    townshipId, countryId, townName, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from township
    where townshipId = #{townshipId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from township
    where townshipId = #{townshipId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.spring.springboot.domain.Township">
    insert into township (townshipId, countryId, townName, 
      status)
    values (#{townshipId,jdbcType=INTEGER}, #{countryId,jdbcType=INTEGER}, #{townName,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.spring.springboot.domain.Township">
    insert into township
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="townshipId != null">
        townshipId,
      </if>
      <if test="countryId != null">
        countryId,
      </if>
      <if test="townName != null">
        townName,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="townshipId != null">
        #{townshipId,jdbcType=INTEGER},
      </if>
      <if test="countryId != null">
        #{countryId,jdbcType=INTEGER},
      </if>
      <if test="townName != null">
        #{townName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.domain.Township">
    update township
    <set>
      <if test="countryId != null">
        countryId = #{countryId,jdbcType=INTEGER},
      </if>
      <if test="townName != null">
        townName = #{townName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where townshipId = #{townshipId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.domain.Township">
    update township
    set countryId = #{countryId,jdbcType=INTEGER},
      townName = #{townName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where townshipId = #{townshipId,jdbcType=INTEGER}
  </update>
  <select id="getTownshipByCountyId" resultType="org.spring.springboot.domain.Township">
    select *
    from township
    where countyid = #{countyId}
  </select>
</mapper>