<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.TreamentMethodMapper">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.TreamentMethod">
        <id column="treamentMethodId" jdbcType="INTEGER" property="treamentMethodId"/>
        <result column="treamentMethodDesc" jdbcType="VARCHAR" property="treamentMethodDesc"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    treamentMethodId, treamentMethodDesc
  </sql>
    <select id="selectByExample" parameterType="org.spring.springboot.domain.TreamentMethodExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from treamentmethod
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from treamentmethod
        where treamentMethodId = #{treamentMethodId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from treamentmethod
    where treamentMethodId = #{treamentMethodId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="org.spring.springboot.domain.TreamentMethodExample">
        delete from treamentmethod
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="org.spring.springboot.domain.TreamentMethod">
    insert into treamentmethod (treamentMethodId, treamentMethodDesc
      )
    values (#{treamentMethodId,jdbcType=INTEGER}, #{treamentMethodDesc,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="org.spring.springboot.domain.TreamentMethod">
        insert into treamentmethod
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="treamentMethodId != null">
                treamentMethodId,
            </if>
            <if test="treamentMethodDesc != null">
                treamentMethodDesc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="treamentMethodId != null">
                #{treamentMethodId,jdbcType=INTEGER},
            </if>
            <if test="treamentMethodDesc != null">
                #{treamentMethodDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="org.spring.springboot.domain.TreamentMethodExample" resultType="java.lang.Long">
        select count(*) from treamentmethod
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update treamentmethod
        <set>
            <if test="record.treamentMethodId != null">
                treamentMethodId = #{record.treamentMethodId,jdbcType=INTEGER},
            </if>
            <if test="record.treamentMethodDesc != null">
                treamentMethodDesc = #{record.treamentMethodDesc,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update treamentmethod
        set treamentMethodId = #{record.treamentMethodId,jdbcType=INTEGER},
        treamentMethodDesc = #{record.treamentMethodDesc,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.domain.TreamentMethod">
        update treamentmethod
        <set>
            <if test="treamentMethodDesc != null">
                treamentMethodDesc = #{treamentMethodDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where treamentMethodId = #{treamentMethodId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.spring.springboot.domain.TreamentMethod">
    update treamentmethod
    set treamentMethodDesc = #{treamentMethodDesc,jdbcType=VARCHAR}
    where treamentMethodId = #{treamentMethodId,jdbcType=INTEGER}
  </update>
</mapper>