<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.TurbidityMapper">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.Turbidity">
        <id column="turbidityId" jdbcType="INTEGER" property="turbidityId"/>
        <result column="turbidityDesc" jdbcType="VARCHAR" property="turbidityDesc"/>
        <result column="turbidityValue" jdbcType="REAL" property="turbidityValue"/>
        <result column="turbiditymethod" jdbcType="VARCHAR" property="turbiditymethod"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    turbidityId, turbidityDesc, turbidityValue, turbiditymethod
  </sql>
    <select id="selectByExample" parameterType="org.spring.springboot.domain.TurbidityExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from turbidity
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from turbidity
        where turbidityId = #{turbidityId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from turbidity
    where turbidityId = #{turbidityId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="org.spring.springboot.domain.TurbidityExample">
        delete from turbidity
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="org.spring.springboot.domain.Turbidity">
    insert into turbidity (turbidityId, turbidityDesc, turbidityValue, 
      turbiditymethod)
    values (#{turbidityId,jdbcType=INTEGER}, #{turbidityDesc,jdbcType=VARCHAR}, #{turbidityValue,jdbcType=REAL}, 
      #{turbiditymethod,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="org.spring.springboot.domain.Turbidity">
        insert into turbidity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="turbidityId != null">
                turbidityId,
            </if>
            <if test="turbidityDesc != null">
                turbidityDesc,
            </if>
            <if test="turbidityValue != null">
                turbidityValue,
            </if>
            <if test="turbiditymethod != null">
                turbiditymethod,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="turbidityId != null">
                #{turbidityId,jdbcType=INTEGER},
            </if>
            <if test="turbidityDesc != null">
                #{turbidityDesc,jdbcType=VARCHAR},
            </if>
            <if test="turbidityValue != null">
                #{turbidityValue,jdbcType=REAL},
            </if>
            <if test="turbiditymethod != null">
                #{turbiditymethod,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="org.spring.springboot.domain.TurbidityExample" resultType="java.lang.Long">
        select count(*) from turbidity
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update turbidity
        <set>
            <if test="record.turbidityId != null">
                turbidityId = #{record.turbidityId,jdbcType=INTEGER},
            </if>
            <if test="record.turbidityDesc != null">
                turbidityDesc = #{record.turbidityDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.turbidityValue != null">
                turbidityValue = #{record.turbidityValue,jdbcType=REAL},
            </if>
            <if test="record.turbiditymethod != null">
                turbiditymethod = #{record.turbiditymethod,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update turbidity
        set turbidityId = #{record.turbidityId,jdbcType=INTEGER},
        turbidityDesc = #{record.turbidityDesc,jdbcType=VARCHAR},
        turbidityValue = #{record.turbidityValue,jdbcType=REAL},
        turbiditymethod = #{record.turbiditymethod,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.domain.Turbidity">
        update turbidity
        <set>
            <if test="turbidityDesc != null">
                turbidityDesc = #{turbidityDesc,jdbcType=VARCHAR},
            </if>
            <if test="turbidityValue != null">
                turbidityValue = #{turbidityValue,jdbcType=REAL},
            </if>
            <if test="turbiditymethod != null">
                turbiditymethod = #{turbiditymethod,jdbcType=VARCHAR},
            </if>
        </set>
        where turbidityId = #{turbidityId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.spring.springboot.domain.Turbidity">
    update turbidity
    set turbidityDesc = #{turbidityDesc,jdbcType=VARCHAR},
      turbidityValue = #{turbidityValue,jdbcType=REAL},
      turbiditymethod = #{turbiditymethod,jdbcType=VARCHAR}
    where turbidityId = #{turbidityId,jdbcType=INTEGER}
  </update>
</mapper>